
<div id="invitation-detail" class="row">
  <div class="span1">
    <div class="collections-browse-container">
      <a href="{{prevName}}.html" class="collections-browse-link">‹</a>
    </div>
  </div>
  <div class="span10">
    {{#if isVertical}}
    <div class="row">
      <div id="invitation-detail-picture" class="span5 invitation-detail-section-vertical">
        <img class="invitation-detail-image invitation-detail-vertical-content invitation-detail-{{size}}-vertical" src="/images/collections/{{name}}_detail.png" alt="">
      </div>
      <div class="span5 invitation-detail-section-vertical">
        <div class="invitation-detail-vertical-content">
          <h4>{{nameUpperCase}}</h4>
          <p>{{{descriptionHtml}}}</p>
          <p><a href="pricing.html">View Pricing</a></p>
          <div class="sharing"></div>
        </div>
      </div>
      <div class="span5 offset1 image-thumbnails">
        <a data-detail-size="{{size}}" data-detail-orientation="vertical" href="#">
          <img class="image-thumbnail" src="/images/collections/{{name}}_detail.png" alt="">
        </a>
        <a data-detail-size="4bar" data-detail-orientation="horizontal" href="#">
          <img class="image-thumbnail" src="/images/collections/{{name}}_rsvp_detail.png" alt="">
        </a>
        <a href="#">
          <img class="image-thumbnail" src="http://placehold.it/80x100" alt="">
        </a>
      </div>
    </div>
    {{else}}
    <div class="row">
      <div id="invitation-detail-picture" class="span invitation-detail-section-horizontal">
        <img class="invitation-detail-image invitation-detail-{{size}}-horizontal" src="/images/collections/{{name}}_detail.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="span5 image-thumbnails">
        <a data-detail-size="{{size}}" data-detail-orientation="horizontal" href="#">
          <img class="image-thumbnail" src="../images/collections/{{name}}_detail.png" alt="">
        </a>
        <a data-detail-size="4bar" data-detail-orientation="horizontal" href="#">
          <img class="image-thumbnail" src="../images/collections/{{name}}_rsvp_detail.png" alt="">
        </a>
        <a href="#">
          <img class="image-thumbnail" src="http://placehold.it/80x100" alt="">
        </a>
      </div>
      <div class="span5 invitation-detail-section-horizontal">
        <div class="invitation-info">
          <h4>{{nameUpperClass}}</h4>
          <p>{{{descriptionHtml}}}</p>
          <p><a href="pricing.html">View Pricing</a></p>
          <div class="sharing"></div>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
    <div class="span1">
      <div class="collections-browse-container">
        <a href="{{nextName}}.html" class="collections-browse-link">›</a>
      </div>
    </div>
</div>